.tooltipSkello {
    font-family: Product Sans;
    font-size: 14px;
    line-height: 20px;
    color: #1B2733;
    text-align: center;
    border: #1B2733;
}

.tooltipSkello button{
    font-family: Product Sans;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #1A6EFC;
    background-image: none;
    border-radius: 4px;
}

.skello {
    border: 2px solid #1A6EFC;
    border-radius: 4px;
}

.shepherd-header{
    background: #FFFFFF !important;
}

.shepherd-title{
    color: #1B2733 !important;
    font-family: Product Sans;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF !important;
    font-weight: bold !important;
}

@font-face {
    font-family: "Product Sans";
    src: url("ProductSans-Regular.ttf");
}